@mixin button {
  padding: 0.5rem;
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  color: #fff;
}

button {
  @include button();
  &:active {
    transform: translateY(2px);
  }
}


.choose-api {
  margin-bottom: 0.5rem;
  font-size: 1.7rem !important;
}

@media screen and (max-width: 768px) {
  .choose-api {
    font-size: 1.4rem !important;
  }
}