.navigation {
  ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    a {
      display: inline-block;
      color: #333;
      border-radius: 1rem;
      text-decoration: none;
      transition: color 0.2s ease, background 0.2s ease;
      &:hover {
        color: #eee;
        background: #78b22d;
      }
    }
  }
}
