.container {
  background: #D8D5D5;
  border-radius: 1rem;
  box-shadow: 0 0 10px 4px rgba($color: rgb(162, 162, 159), $alpha: 0.6);
  font-size: 1.3rem;
}

.heading {
  text-transform: uppercase;
  color: #3e3e3e;
  text-shadow: 1px 5px 7px rgba(255, 255, 255, 0.73);
  text-align: center;
}

.todo--list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

.add_todo_block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  
}
